body {
	padding-top: 50px;
}

.subscription-list {
}

.subscription-list .media {
	margin-top: 0;
}

.subscription-list .media-object {
	height: 22px;
	width: 22px;
}

.subscription-list .media-heading {
	margin-top: 3px;
	margin-bottom: 0;
}


.tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 5px 10px;
}
