body {
	padding-top: 50px;
}

.subscription-list {
}

.subscription-list .media {
	margin-top: 0;
}

.subscription-list .media-object {
	height: 22px;
	width: 22px;
}

.subscription-list .media-heading {
	margin-top: 3px;
	margin-bottom: 0;
}


.tab-content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 5px 10px;
}


@media screen and (max-width: 768px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all 0.25s ease-out;
		-moz-transition: all 0.25s ease-out;
		transition: all 0.25s ease-out;
	}

	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}

	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}

	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}

	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}

	.sidebar-offcanvas {
		position: absolute;
		top: 0;
		width: 50%; /* 6 columns */
	}
